*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

# ocamlbuild working directory
# assignment
doc.public
doc.private
bs_src.zip

# ocaml
*.cmo
*.cma
*.cmi
*.out
*.cmx
*.native
*.byte
_build

# temporary files
*.swp
*~
\#*\#
.DS_Store